ion-content ion-toolbar {
  --background: translucent;
}

ion-list-header{
  p{
    padding-right: 16px;
  }
}

ion-calendar{
  background: #3B6C7A;
}

.col-calendar{
  background-color: #3B6C7A;
}

@media (max-width: 820px) {
  .col-content {
    height: calc(100% - 370px);
  }
}

.tablet{
  margin: 0;
  --ion-grid-padding: 0px;

  ion-col{
    padding: 0;
  }

  ion-row{
    height: 100%;
  }
}