ion-content ion-toolbar {
  --background: translucent;
}

ion-list-header{
  p{
    padding-right: 16px;
  }
}

ion-calendar{
  background: #3B6C7A;
}

.col-calendar{
  background-color: #3B6C7A;
  min-height: 370px;
}

@media (max-width: 767px) {
    .col-content {
      height: calc(100% - 370px);
    }
}

@media (max-height: 390px) {
  ion-header{
    display: none;
  }
}

.tablet{
  margin: 0;
  --ion-grid-padding: 0px;

  ion-col{
    padding: 0;
  }

  ion-row{
    height: 100%;
  }
}

::ng-deep .alert-wrapper {
  --min-width: 80%;
}


::ng-deep ion-item-sliding {
  height: 84px !important;
  overflow: hidden;
}

cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;
}
