<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/projects"></ion-back-button>
    </ion-buttons>

    <ion-buttons *ngIf="!isSaving" slot="end">
      <ion-button (click)="delete()" *ngIf="isUpdate">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button  (click)="save()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-spinner *ngIf="isSaving" slot="end" color="light"></ion-spinner>
    <ion-title *ngIf="!isUpdate">{{ 'Create effort' | translate }}</ion-title>
    <ion-title *ngIf="isUpdate">{{ 'Update effort' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item (click)="openCalendar()">
      <ion-label *ngIf="!isUpdate" position="stacked">{{ 'Date(s)' | translate }}</ion-label>
      <ion-label *ngIf="isUpdate" position="stacked">{{ 'Date' | translate }}</ion-label>
      <p *ngFor="let selectedDate of selectedDates">{{ selectedDate | date :'EEEE dd.MM.yyyy' }}</p>    
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'Duration' | translate }}</ion-label>
      <ion-range [min]="steps" max="12" [step]="steps" snaps="true" ticks="false" [(ngModel)]="selectedDuration"></ion-range>
      <span style="width: 100%; text-align: center;">{{ selectedDuration | toDuration }} {{ 'hour(s)' | translate }}</span>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="stacked">{{ 'Contact' | translate}}</ion-label>
      <ionic-selectable
      [(ngModel)]="contact"
      itemValueField="id"
      [searchDebounce]="500"
      [canSearch]="true"
      [canClear]="true"
      (onSearch)="searchContact($event)">
      <ng-template ionicSelectableIconTemplate></ng-template>
      <ng-template ionicSelectableItemIconTemplate></ng-template>
      <ng-template ionicSelectableSearchFailTemplate><div class="ion-margin">{{ 'No contacts found' | translate }}</div></ng-template>
      <ng-template ionicSelectableItemEndTemplate let-port="item" let-isPortSelected="isItemSelected"></ng-template>
      <ng-template ionicSelectableItemTemplate let-port="item" let-isPortSelected="isItemSelected">{{port.name_2}} {{port.name_1}}</ng-template>
      <ng-template ionicSelectablePlaceholderTemplate>{{ 'Select contact' | translate}}</ng-template>  
      <ng-template ionicSelectableValueTemplate let-port="value">{{port.name_2}} {{port.name_1}}</ng-template>
    </ionic-selectable>
    </ion-item> -->

    <ion-item>
      <ion-label>{{ 'Chargeable' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="timesheet.allowable_bill"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'Service' | translate }}*</ion-label>
      <ion-select placeholder="Select" [(ngModel)]="timesheet.client_service_id" interface="popover">
        <ion-select-option *ngFor="let clientService of clientServices" [value]="clientService.id">
          {{ clientService.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'Project' | translate }}</ion-label>
      <ion-select placeholder="Project" (ionChange)="onProjectSelected()" [(ngModel)]="timesheet.pr_project_id"
        [selectedText]="selectedProjectText">
        <ion-select-option *ngFor="let project of projects" value="{{ project.id }}">{{ project.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'Package' | translate }}</ion-label>
      <ion-select placeholder="Package" [(ngModel)]="timesheet.pr_package_id" [selectedText]="selectedPackageText">
        <ion-select-option *ngFor="let package of availablePackages" value="{{ package.id }}">{{ package.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'Status' | translate }}*</ion-label>
      <ion-select placeholder="Select" [(ngModel)]="timesheet.status_id" interface="popover">
        <ion-select-option *ngFor="let status of timesheetStatus" [value]="status.id">{{status.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'Description' | translate }}*</ion-label>
      <ion-textarea autoGrow="true" placeholder="Text" [(ngModel)]="timesheet.text"></ion-textarea>
    </ion-item>

  </ion-list>

</ion-content>