<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'Notification settings' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>{{ 'Time tracking reminder' | translate }}</ion-list-header>
    <ion-item>
      <ion-label>{{ 'Reminder time' | translate }}</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="time" (ionChange)="notificationsChanged()"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'Monday' | translate }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="weekdays.d1" (ionChange)="notificationsChanged()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'Tuesday' | translate }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="weekdays.d2" (ionChange)="notificationsChanged()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'Wednesday' | translate }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="weekdays.d3" (ionChange)="notificationsChanged()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'Thursday' | translate }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="weekdays.d4" (ionChange)="notificationsChanged()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'Friday' | translate }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="weekdays.d5" (ionChange)="notificationsChanged()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'Saturday' | translate }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="weekdays.d6" (ionChange)="notificationsChanged()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'Sunday' | translate }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="weekdays.d0" (ionChange)="notificationsChanged()"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>