<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="times">
      <ion-icon name="timer-outline"></ion-icon>
      <ion-label>{{ 'Times' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="projects">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label>{{ 'Projects' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{ 'Settings' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
