<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ 'Stopwatches' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <div class="no-items" *ngIf="stopwatches.length === 0 && !loading">
    <ion-grid>
      <ion-row>
        <ion-icon name="stopwatch-outline"></ion-icon>
      </ion-row>
      <ion-row>
        <h1>{{ 'No stopwatches found' | translate }}</h1>
      </ion-row>
    </ion-grid>
  </div>

  <ion-list>
      <app-stopwatch-template *ngFor="let stopwatch of stopwatches" [stopwatch]="stopwatch" (onDelete)="delete($event)" (onEdit)="edit($event)"></app-stopwatch-template>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/stopwatch/" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>