
div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ion-icon{
    height: 60vmin;
    width: 60vmin;
}