h1{
    text-align: center;
    font-size: xx-large;
    color: black;
    font-weight: bold;
}

#pie-chart-parent { 
    display: grid;
    min-height: 400px;
}

@media (min-width: 820px) {
    ion-grid { 
        flex-direction: row-reverse;
    }
}

ion-skeleton-text{
    width: 50px;
    height: 25px;
    margin: auto;
}

ion-content {
    --padding-bottom: 0;
    --padding-end: 0;
    --padding-start: 0;
    --padding-top: 0;
  }

  ion-card-title{
      font-size: 26px;
      min-height: 62px;
  }