<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ 'Dashboard' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{ '7 days' | translate }}</ion-card-subtitle>
            <ion-card-title>{{ 'Hours' | translate }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h1 *ngIf="!loading">{{ totalHoursLastWeek | number:'1.0-2' }}</h1>
            <ion-skeleton-text animated *ngIf="loading"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{ '7 days' | translate }}</ion-card-subtitle>
            <ion-card-title>{{ 'Billable' | translate }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h1 *ngIf="!loading">{{ chargeabilityLastWeek | number:'1.0-0' }}%</h1>
            <ion-skeleton-text animated *ngIf="loading"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{ '30 days' | translate }}</ion-card-subtitle>
            <ion-card-title>{{ 'Hours' | translate }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h1 *ngIf="!loading">{{ totalHoursLastMonth | number:'1.0-2' }}</h1>
            <ion-skeleton-text animated *ngIf="loading"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{ '30 days' | translate }}</ion-card-subtitle>
            <ion-card-title>{{ 'Billable' | translate }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h1 *ngIf="!loading">{{ chargeabilityLastMonth | number:'1.0-0' }}%</h1>
            <ion-skeleton-text animated *ngIf="loading"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </ion-col>


      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title #width>{{ 'Hours by Project' | translate }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div id="pie-chart-parent" *ngIf="view && data.length > 0">
              <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="data" [gradient]="gradient"
                [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut">
              </ngx-charts-pie-chart>
            </div>
            <h2 *ngIf="data.length === 0">{{ 'No data available' | translate }}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title #width>{{ 'Missing a report?' | translate }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="full" routerLink="/feedback">{{ 'Provide Feedback' | translate }}</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>