<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      {{ 'Dashboard' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>7 days</ion-card-subtitle>
            <ion-card-title>Hours</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h1>{{ totalHoursLastWeek }}</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>7 days</ion-card-subtitle>
            <ion-card-title>Chargeability</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h1>{{ chargeabilityLastWeek | number:'1.0-0' }}%</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>30 days</ion-card-subtitle>
            <ion-card-title>Hours</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h1>{{ totalHoursLastMonth }}</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>30 days</ion-card-subtitle>
            <ion-card-title>Chargeability</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h1>{{ chargeabilityLastMonth | number:'1.0-0' }}%</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>


      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Time by project</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div id="pie-chart-parent">
              <ngx-charts-pie-chart *ngIf="data.length > 0" [scheme]="colorScheme" [results]="data" [gradient]="gradient"
                [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut">
              </ngx-charts-pie-chart>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>