<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      {{ 'Dashboard' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Weekly time</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            42 hours
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Weekly chargeability</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            62%
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Time by project</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            62%
          </ion-card-content>
        </ion-card>      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>